h1{
    color:red
}
body{
    height: 100%;
    width: 100%;
}
.container{
    height: 500px;
    width: 500px;
    margin: auto;
    margin-top: 200px;
}
h1,h3,div{
    text-align: center;
}
input{
    width: 30px;
    text-align: center;
}